[submodule "extjs"]
	path = extjs
	url = git://github.com/return1/extjs
[submodule "resources/node-uuid"]
	path = resources/node-uuid
	url = git://github.com/broofa/node-uuid.git
[submodule "resources/js/node-uuid"]
	path = resources/js/node-uuid
	url = git://github.com/broofa/node-uuid.git
